@import url('fonts.css');

body {
    font-family: 'Poppins', sans-serif;
    color: #9A9DA0;
    background-color: #1E252B;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.no-transition {
    transition: none !important;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}