.footer {
    border-top: 1px solid #40464B;
    padding: 100px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px 50px;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item-title {
    font-size: 20px;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 20px;
    white-space: nowrap;
}

.footer__logo {
    margin-bottom: 30px;
}

.copyright {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__item-text {
    margin-bottom: 10px;
    max-width: 400px;
    color: #9A9DA0;
}

@media screen and (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__item:not(:last-child) {
        width: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .footer__inner {
       gap: 20px;
    }
}