@import url(./reset.css);
@import url(./base.css);
@import url(./components/layouts/header.css);
@import url(./components/sections/home.css);
@import url(./components/sections/popular-tools.css);
@import url(./components/sections/cooperation.css);
@import url(./components/ui/card.css);
@import url(./components/sections/partners-block.css);
@import url(./components/sections/newcomer-tools.css);
@import url(./components/ui/slider.css);
@import url(./components/layouts/footer.css);

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  height: auto;
  background-color: #283036;
  border: 1px solid #333A3F;
  border-radius: 15px;
  padding: 7px 5px 7px 15px;
  margin-bottom: 120px;
  position: relative;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.search-input>input {
  width: 100%;
  height: 40px;
  color: #ADB0B1;
}

.input-button {
  width: 100%;
  max-width: 118px;
  height: 48px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #FF6E30;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #d44d13;
}

.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  height: auto;
  background-color: #283036;
  border: 1px solid #333A3F;
  border-radius: 15px;
  padding: 7px 5px 7px 10px;
  margin: 0 auto;
  position: relative;
}

.email-container>input {
  width: 100%;
  height: 40px;
  vertical-align: middle;
  background: transparent;
  color: #ADB0B1;
}

@media screen and (max-width: 500px) {
  .search-container,
  .email-container {
    padding: 7px 10px;
  }

  .input-button {
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }
}